html {
    font-size: 10px;
    /*background: url('./arctic_fox.jpg') bottom center;*/
    background-size: cover;
  }

title {
  font-size: 100px;
}

.title_container {
  position: relative;
  text-align: center;
}

.center {
  font-size: 50px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.SpaceShipGame {
  position: relative;
  font-size: 20px;
  color: white;
  width: 50%;
  height: 50%;
}

.Text {
  font-size: 100%;
  position: absolute;
  text-align: center;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}