* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

body {
  margin: 0;
  background-color: #3F7C85;
}

/* Main menu at the top with image of leaf */

.nav-main {
  width: 100%;
  height: 60px;
  background-color: #F1EEDC;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
  position: fixed;
}

.btn-nav {
  margin: 0;
  width: 60px;
  height: 100%;
  background-color: #89435D;
  background-image: url("img/home_icon_transparent.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  cursor: pointer;
}

.btn-nav:hover {
  opacity: 0.8;
}

.nav-main ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*padding-left: 65%;*/
  background-color: rgb(240, 212, 28);
  /*position: right;*/
}

.nav-main ul li {
  list-style: none;
  /*line-height: 2px;*/
}

.nav-main ul li a {
  display: block;
  height: 100%;
  padding: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #495A8C;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Side bar links with links to other info sites */

.sidenav {
  /*height: 900px;  Full-height: remove this if you want "auto" height */
  width: 60px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  /*top: 0;  Stay at the top */
  bottom: 0; /* Stay at the bottom */
  overflow-x: hidden; /* Disable horizontal scroll */
  /*background-color: yellow;*/
  /*padding-top: 37%;*/
  /*margin-top: 37%;*/
  /*margin-left: 10px;*/
}

.sidenav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sidenav ul li {
  list-style: none;
}

.sidenav ul li a {
  /*height: 50%;
  padding: 0 15px;*/
  text-transform: uppercase;
  text-decoration: none;
  color: #495A8C;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Main content on page */

.main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 60px;
  margin-top: 60px;

  padding: 5%;

  height: 800px;

  display: flex;
  flex-wrap: wrap;
  z-index: 800;
}

.main-text {
  width: 50%;
  background-color: yellow;
}

.main-text p {
  padding: 5px;
}

.main-img {
  width: 50%;
  display: flex;
  justify-content: center;
  /*padding: 5px;*/
}